@page "/counter"
@using Microsoft.Data.SqlClient

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;

        string connectString =
            "Server=1.2.3.4;Database=Anything;Integrated Security=true;";
        
            SqlConnectionStringBuilder builder = new SqlConnectionStringBuilder(connectString);
        
            var conn = new SqlConnection(builder.ConnectionString);
    }
}
