@page "/counter"
@using Microsoft.Data.SqlClient

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;

        string connectString =
            "Server=1.2.3.4;Database=Anything;Integrated Security=true;";

        SqlConnectionStringBuilder builder = new SqlConnectionStringBuilder(connectString);

        var conn = new SqlConnection(builder.ConnectionString);


        Console.Write("Enter your username: ");
        string username = Console.ReadLine();

        Console.Write("Enter your password: ");
        string password = Console.ReadLine();

        string connectionString = "your_connection_string_here";
        using (SqlConnection connection = new SqlConnection(connectionString))
        {
            connection.Open();
            string sql = $"SELECT * FROM Users WHERE Username = '{username}' AND Password = '{password}'";
            using (SqlCommand command = new SqlCommand(sql, connection))
            {
                using (SqlDataReader reader = command.ExecuteReader())
                {
                    if (reader.HasRows)
                    {
                        Console.WriteLine("Login successful!");
                    }
                    else
                    {
                        Console.WriteLine("Invalid username or password.");
                    }
                }
            }
        }
    }
}
